:root{
	// --color-mode:"light";
	// --color-primary:#5869DA;
	// --color-secondary:#2d3d8b;
	// --color-success:#09815C;
	// --color-danger:#e3363e;
	// --color-warning:#e38836;
	// --color-info:#4da7d4;
	// --color-light:#f8f9f9;
	// --color-grey:#f7f8f9;
	// --color-dark:#000c2d;
	// --color-muted:#687385;
	// --color-white:#FFFFFF;
	// --primary-border-color:#9b9b9b;
	--secondary-border-color:#f0f8ff;
	// --mutted-border-color:#eaecee;
	--box-shadow-normal:0 10px 10px rgba(0,0,0,0.08);
	// --box-shadow-hover:0 4px 60px 0 rgba(0,0,0,0.2);
	// --button-shadow-color-normal:hsla(0,0%,42.4%,0.2);
	// --button-shadow-color-hover:hsla(0,0%,42.4%,0.3);

	// /*DARK MODE*/
	// --dark-background: #212529;
	// --dark-mutted-border-color:#3e4451;
	// --dark-color-muted: #b4bfd0;
	// --dark-color-grey: #1f2326;
}
.post-thumb-item {
    width: 110px !important;
    height: 70px; 
    margin-right: 15px;
	img {
		width: 110px !important;
		object-fit: cover;
		max-width: 110px !important;
	}
} 
 
$color_2: #fff;
/*featured-sliders*/  
.featured-sliders {
	.post-content-overlay {
		position: absolute;
		transition-duration: 0.2s;
		width: 100%;
		bottom: 100px;
		z-index: 500;
		.post-content {
			max-width: 54%;
		}
	}
	.arrow-cover, 
    .arrow-cover-2 {
		position: absolute;
		left: 12px;
		z-index: 300;
		bottom: 45px;
		i {
			color: $color_2;
		}
	}
}
.featured-slider-nav-cover {
    position: absolute;
    right: 0;
    width: 33%;
    z-index: 9999999;
    bottom: 0px;
	padding: 30px 0;
    overflow: hidden;
	.post-content{
		.post-title{ 
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
.featured-slider-nav {
	.slick-current {
		img {
			border: 3px solid rgba(255,255,255,0.7);
		}
	}
}

.featured-slider-items {
	.post-thumb {
		.thumb-overlay {
			min-height: 600px;
			background-position: center;
			background-repeat: no-repeat;
    		background-size: cover;
		}
	}
}
.featured-slider-items {
	.post-thumb {
		.thumb-overlay {
			min-height: 600px;
			background-position: center;
			background-repeat: no-repeat;
    		background-size: cover;
		}
	}
}
p.thumb-exerpt {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.thumb-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: rgba(0,0,0,.35);
    width: 100%;
    height: 100%;
}
.post-thumb-80 {
    max-width: 80px;
    margin-right: 15px;
    img {
        width: 100px;
        height: 80px !important;
        object-fit: cover;
    }
}

.slick-arrow {
	 svg {
		fill: white;
		width: 40px;
		height: 35px;
	}
    display: block; 
	cursor: pointer;
}

@media (max-width:480px) { 
	.featured-slider-items {
		.post-thumb {
			.thumb-overlay {
				min-height: 450px;
			}
		}
	}

}

@media screen and (max-width: 800px) { 
	.featured-slider-nav {
		display: none !important;
	}
	.featured-sliders {
		.post-content-overlay {
			.post-content {
				max-width: 100%;
			}
		}
	} 
}



// Ctegory slider
.card-style-1 {
    position: relative;
    width: 100%;
    &:hover { 
        .card-image {
            img {
                transform: scale(1.1);
            }
        }
    }
    .card-image {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            border-radius: 8px;
			transition: all ease-in-out .3s;
        } 
        .card-info {
            position: absolute;
            bottom: 0px;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            background: url(../images/bg-trans.png) repeat-x left bottom; 
            .info-bottom {
                position: absolute;
                bottom: 0px;
                left: 0px;
                padding: 15px;
            }
            .box-author {
                img {
                    width: 32px !important;
                    height: 32px !important;
                    border-radius: 50%;
                }
                .author-info {
                    display: flex;
                    align-items: center;
                    h6 {
                        line-height: 20px !important;
                    }
                }
            }
        }
    }
}


.swiper-button-next:after,
.swiper-button-prev:after {
    content: "" !important;
}

.swiper-button-next.swiper-button-next-style-2 {
    background: url(../../assets/images/slider/swiper/next.svg) no-repeat 0px 0px;

    &:hover {
        background: url(../../assets/images/slider/swiper/next-active.svg) no-repeat 0px 0px;
    }
}

.swiper-button-prev.swiper-button-prev-style-2 {
    background: url(../../assets/images/slider/swiper/prev.svg) no-repeat 0px 0px;

    &:hover {
        background: url(../../assets/images/slider/swiper/prev-active.svg) no-repeat 0px 0px;
    }
}

.swiper-button-next.swiper-button-next-style-2,
.swiper-button-prev.swiper-button-prev-style-2 {
    width: 34px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
}
.swiper-button-next.swiper-button-next-style-2 {
    right: -50px;
}
.swiper-button-prev.swiper-button-prev-style-2 {
    left: -50px;
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}
@include media-breakpoint-down(sm) {
	.swiper-button-next-style-2,
	.swiper-button-prev-style-2 {
		display: block;
	}
}
@media screen and (max-width: 1336px) {
	.swiper-button-next.swiper-button-next-style-2 {
		right: 15px;
	}
	
	.swiper-button-prev.swiper-button-prev-style-2 {
		left: 15px;
	}
}


// blog posts
.post-card-1 {
	border: 1px solid var(--secondary-border-color);
	z-index: 12;
	transition: all .25s cubic-bezier(.02,.01,.47,1);
	position: relative; 
	&::before {
		content: "";
		position: absolute;
		top: 10px;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 10px;
		box-shadow: var(--box-shadow-normal),0 0 0 transparent;
		transition: all .25s cubic-bezier(.02,.01,.47,1);
		z-index: -1;
	}
	.thumb-overlay {
		min-height: 220px;
		border-radius: 10px 10px 0 0;
	}
	.post-content {
		background: #fff;
		border-radius: 0 0 10px 10px;
	} 
}
.border-radius-10{border-radius:10px;}
.card-img-top-content{
    z-index: 9;
}
.wp-block-search__button{
	margin-left: 0;
}


// Service 

$color_1: rgba(2, 194, 214, .05);
$font-family_1: "Pe-icon-7-stroke";
.bg-alt {
    background-color: #f9fdef  !important;
}
.working-progress {
	padding-bottom: 50px;
}
.section-title {
	margin-bottom: 80px;
	h2 {
		font-size: 42px;
		line-height: 58px;
		text-transform: capitalize;
	}
	p {
		font-size: 18px;
		line-height: 28px;
	}
}
.icon-bg {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:after {
		color: $color_1;
		content: "î™";
		font-family: $font-family_1;
		font-size: 60rem;
		position: absolute;
		right: -23%;
		top: 48%;
		z-index: -9;
	}
}

.featured-service-icon {
	border-radius: 10px;
	box-shadow: 0 5px 10px -2px #ff3e84;
	font-size: 40px;
	height: 70px;
	line-height: 60px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	width: 80px;
}
.featured-service-item { 
	margin-bottom: 30px;
	box-shadow: 0px 0px 12px -10px #000;
	padding: 30px;
	border-radius: 10px; 
	.media {
		margin-bottom: 20px;
	} 
	h2 {
		font-size: 28px;
	}
	.icon-img {
		margin-bottom: 20px;
		width: 80px;
		height: 70px;
		border-radius: 10px;
		box-shadow: 0 5px 10px -2px #ff3e84;
		text-align: center;
		padding: 10px;
		img{
			height: 100%;
			border-radius: 10px;
			object-fit: cover;
			-o-object-fit: cover;
		}
	}
}


$color_1: #ffffff;
$border-color_1: rgba(255,255,255,.5);

/* =================
      Project Area
  ================== */
.project-item {
	&:hover {
		img {
			border-radius: 0% 0% 0% 100%;
		}
		.project-content {
			top: 30px;
		}
		.btn {
			opacity: 1;
		}
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
		.popuo-button {
			opacity: 1;
		}
	}
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	&::after {
		background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0;
	}
	&::before {
		border-color: $border-color_1;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		content: "";
		height: 90%;
		left: 5%;
		position: absolute;
		top: 5%;
		width: 90%;
		z-index: 9;
	}
}
.project-content {
	padding: 30px;
	position: absolute;
	text-align: center;
	top: -60px;
	width: 100%;
	z-index: 9;
	.btn {
		opacity: 0;
		color: $color_1;
	}
	h4 {
		color: $color_1;
		margin-bottom: 40px;
	}
}
.popuo-button {
	bottom: 20px;
	color: $color_1;
	font-size: 60px;
	left: 30px;
	position: absolute;
	z-index: 99;
	opacity: 0;
}
.project-area {
	.no-gutters {
		>.col {
			padding-left: 5px;
			padding-right: 5px;
		}
		>[class*="col-"] {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}
.project-menu { 
	margin-bottom: 50px;
	padding: 0;
	border-radius: 50px;
	list-style: none;
	display: flex;
	gap: 5px;
	li {
		font-size: 16px;
		padding: 5px 25px !important;
		position: relative;
		text-transform: uppercase;
		border: 1px solid #ff3e84;
		border-radius: 30px; 
		span { 
			display: block; 
		}
	}
}


@media (max-width: 992px){
	.project-menu {
		display: block;
    }
} 